<link rel="stylesheet" type="text/css" href="public/css/checkbox.css">
<h1>{{title}}</h1>
<div class="todo-wrapper">
  <div class="list">
    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in todos">
        <input ng-model="todo.completed" type="checkbox"/>
        <label ng-hide="editing" class="editing-label">{{todo.name}}</label>
        <input ng-change="todo.edited = true" ng-blur="editing = false" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
      <div class="actions">
        <a class="todo-anchor" href="" ng-click=" editing = !editing">edit</a>
        <a class="todo-anchor" href="" ng-click="helloworld()">save</a>
        <a class="todo-anchor" href="" class="delete">delete</a>
      </div>
    </div>
  </div>
</div>
