doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css', type='text/css')
  body
    block content
